<connectionStrings>
  <add name="MemberDemographicsContext" connectionString="Data Source=ASI-SQLDS-01.asinetwork.local;Initial Catalog=DM_MemberDemogr;User ID=citkauser_2oo9o8@4; Password=g@f0r1tD0ne;Application Name=Radar_CJU_D" providerName="System.Data.SqlClient" />
  <add name="PRODMasterContext" connectionString="Data Source=ASI-SQLDS-01.asinetwork.local;Initial Catalog=PROD_Master_WIP;User ID=Velocity_2o13@01!24;Password=Mast_0945_dev;Application Name=Radar_CJU_W" providerName="System.Data.SqlClient" />
  <add name="PRODMasterContext_Master" connectionString="Data Source=ASI-SQLDS-01.asinetwork.local;Initial Catalog=PROD_Master;User ID=MasterReadUser;Password=Read_1101_dev;Application Name=Radar_CJU_M" providerName="System.Data.SqlClient" />
</connectionStrings>
